page-registration{
    ion-content{
        text-align: center;
        .title{
            color: white;
            text-align: center;
            font-size: 3.5em;
            padding: 1.5em;
        }
        .text-input-md{
            font-size: 1.5em;
            color: gray;
            background-color: white;
        }
    }
}