page-schedule {
    .toolbar-ios{
        padding: 10px;
    }
    .bar-button-ios{
        font-size: 2rem;
    }
    .content{
        margin: 0;
        text-align: center;
        color: white;
        .header{
            .col{
                padding: 10px;
                font-size: 1.5em;
            }
        }
        .schedule{
            background-color: whitesmoke;
            color: black;
            text-align: left;
            .col{
                padding: 0px;
            }
        }
    }
}
