<ion-header>

  <ion-navbar>
    <ion-title>Breaks</ion-title>
    <ion-buttons start>
        <button ion-button icon-only (click)="addBreak()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Customize your breaks</h1>
  <div *ngIf = "loaded">
  <ion-segment [(ngModel)]="day">
    <ion-segment-button value="M">
      M
    </ion-segment-button>
    <ion-segment-button value="Tu">
      Tu
    </ion-segment-button>
    <ion-segment-button value="W">
      W
    </ion-segment-button>
    <ion-segment-button value="Th">
      Th
    </ion-segment-button>
    <ion-segment-button value="F">
      F
    </ion-segment-button>
  </ion-segment>
  </div>
  <div [ngSwitch]="day" padding>
    <ion-grid *ngSwitchCase="'M'">
      <div *ngFor="let time of times">
        <ion-row>
          <ion-col *ngIf="time.substring(time.length - 2) == '00' || time.substring(time.length - 2) == '30'; else blank" col-2>
            {{time}}
          </ion-col>
          <ion-col *ngIf="this.breakArray[0][this.times.indexOf(time)]; else blank" style="background-color: blue">
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <ion-grid *ngSwitchCase="'Tu'">
      <div *ngFor="let time of times">
        <ion-row>
          <ion-col *ngIf="time.substring(time.length - 2) == '00' || time.substring(time.length - 2) == '30'; else blank" col-2>
            {{time}}
          </ion-col>
          <ion-col *ngIf="this.breakArray[1][this.times.indexOf(time)]; else blank" style="background-color: blue">
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <ion-grid *ngSwitchCase="'W'">
      <div *ngFor="let time of times">
        <ion-row>
          <ion-col *ngIf="time.substring(time.length - 2) == '00' || time.substring(time.length - 2) == '30'; else blank" col-2>
            {{time}}
          </ion-col>
          <ion-col *ngIf="this.breakArray[2][this.times.indexOf(time)]; else blank" style="background-color: blue">
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <ion-grid *ngSwitchCase="'Th'">
      <div *ngFor="let time of times">
        <ion-row>
          <ion-col *ngIf="time.substring(time.length - 2) == '00' || time.substring(time.length - 2) == '30'; else blank" col-2>
            {{time}}
          </ion-col>
          <ion-col *ngIf="this.breakArray[3][this.times.indexOf(time)]; else blank" style="background-color: blue">
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <ion-grid *ngSwitchCase="'F'">
      <div *ngFor="let time of times">
        <ion-row>
          <ion-col *ngIf="time.substring(time.length - 2) == '00' || time.substring(time.length - 2) == '30'; else blank" col-2>
            {{time}}
          </ion-col>
          <ion-col *ngIf="this.breakArray[4][this.times.indexOf(time)]; else blank" style="background-color: blue">
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
  <ng-template #blank>
    <ion-col col-2></ion-col>
  </ng-template>
</ion-content>